services:
  catalogue:
    build:
      context: ./catalogue
      dockerfile: Dockerfile
    # image: catalogue:v1   # This image name or tag is like local , if we want to push to docker hub in out account we need to use our account before
    image: sivaphanikumar/catalogue:v1
    container_name: catalogue
    depends_on:
    - mongodb
  mongodb:
    build: ./mongodb
    image: sivaphanikumar/mongodb:v1
    container_name: mongodb
    volumes:
      - mongodb:/data/db
  redis:
    image: redis:7
    container_name: redis
    volumes:
      - redis:/data
  mysql:
    build: ./mysql
    image: sivaphanikumar/mysql:v1
    container_name: mysql
    volumes:
      - mysql:/var/lib/mysql
  rabbitmq:
    image: rabbitmq:3
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123
    volumes:
      - rabbitmq:/var/lib/rabbitmq/
  user:
    build: ./user
    image: sivaphanikumar/user:v1
    container_name: user
    depends_on:
    - redis
    - mongodb
  cart:
    build: ./cart
    image: sivaphanikumar/cart:v1
    container_name: cart
    depends_on:
    - redis
    - catalogue
  shipping:
    build: ./shipping
    image: sivaphanikumar/shipping:v1
    container_name: shipping
    depends_on:
    - cart
    - mysql
  payment:
    build: ./payment
    image: sivaphanikumar/payment:v1
    container_name: payment
    depends_on:
    - cart
    - user
    - rabbitmq
  frontend:
    build: ./frontend
    image: sivaphanikumar/frontend:v1
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - catalogue
      - cart
      - shipping
      - payment
      - user
volumes:
  mongodb:     # docker volume create mongodb   path /var/lib/docker/volumes     - its a host path
  mysql:
  rabbitmq:
  redis:


     